# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/
.env.*

# Archivos de configuración local
*.sqlite3
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de build
build/
dist/
*.egg-info/

# Configuración IDE
.vscode/
.idea/
